Django==5.0.12
python-dotenv==1.0.1
pandas==2.2.3
whitenoise==6.8.2
requests==2.32.3
daphne==4.1.2
channels==4.2.0
pyodbc==5.2.0
mssql-django==1.5
django-mssql-backend==2.8.1
django-tailwind==3.8.0
mssql
django-widget-tweaks==1.5.0