{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    {% tailwind_css %}
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
   
    <title>{% block title %}Assur'Aimant{% endblock %}</title>
</head>
<body>
    <div class="header">
    {%include 'includes/header.html'%}
    </div>
    <div class="content">
        <main>
            {% block content %}{% endblock %}
        </main>            
    </div>
        {%include 'includes/footer.html'%}
</body>
</html>