{% load static %}

<header class="bg-primary shadow-lg min-h-24 py-8 sticky top-0 z-50">
    <div class="container mx-auto flex items-center justify-between px-4">
      <!-- Logo -->
      <a href="{% url "home"%}" class="flex items-center text-primary hover:text-secondary">
        <img src="{% static 'images/logo.png' %}" alt="Site Logo" class="w-32 mx-auto">
        <span class="text-2xl font-bold secondary-color " style="padding-left: 3px;">New Jersey Economic Devel</span>
      </a>
  
      <!-- Mobile Menu Button (Hidden on larger screens) -->
      <div class="md:hidden">
        <button id="menu-toggle"
                      class="text-gray-800 hover:text-primary focus:outline-none transition-colors duration-300">
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
                  </svg>
              </button>
      </div>

      <div class="links-container">
        <a class="link" href="{% url "home"%}">Home</a>
        <a class="link" href="{% url "home"%}">About Us</a>
        <a class="link" href="">Contact</a>
    </div>

    <nav>
        {% if user.is_authenticated %}
        <p class="mr-4">Hello <strong class="name">{{ user.company_name }}</strong>!</p>
            <form method="get" class="inline" action="{% url 'display_profile' %}">
                <button class='btn' type="submit">Account</button>
            </form>
            <form method="post" class="inline" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class='btn' type="submit">Logout</button>
            </form>       
        {% else %}
        {% if messages %}
        
        {% for message in messages %}
            <p class="text-white">{{ message }}</p>
        {% endfor %}
        
        {% endif %}
        <a class="btn" href="/login/">Login</a>
        <a class="btn" href="/signup">Sign up</a>
        {% endif %}        
    </nav>
</header>
