{% block content%}

    <h2>Liste des articles</h2>

    <form method="get" action="">
        {% csrf_token %}
        {{form.as_p}}
        <button type='submit'>Rechercher</button>
    </form>
    
    <ul>
        {% for loan in loans %}
            <li>
                <a class="btn mt-20" href="/loan_filling/{{loan.id}}">{{loan.reason}}</a>
                {% if loan.status == 2 %}
                <form method="post" action="{% url 'predict_loan' loan.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="loan_id" value="{{loan.id}}">
                    <button type='submit'>Predict</button>
                </form>
                {% endif %}
                <p>{{loan.bank_loan}}</p>
            </li>
            {%endfor %}
            
    </ul>
{%endblock%}
