{% block content%}

    <h2>Liste des articles</h2>

    <form method="get" action="">
        {% csrf_token %}
        {{form.as_p}}
        <button type='submit'>Rechercher</button>
    </form>
    
    <ul>
        {% for loan in loans %}
            <li>
                <a class="btn mt-20" href="/loan_filling/{{loan.id}}">{{loan.reason}}</a>
                {% if loan.status == 2 %}
                    <a href="URL OF THE API">Predict</a>
                {% endif %}
                <p>{{loan.bank_loan}}</p>
            </li>
            {%endfor %}
            
    </ul>
{%endblock%}
