{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container mx-auto mt-10">
  <h2 class="text-xl font-bold mb-4">Loans list</h2>

  <!-- Styled Search Form -->
  <form method="get" class="mb-10 flex flex-col items-center">
    {% csrf_token %}
    <div class="w-full max-w-lg flex flex-col items-start">
      {% for field in form %}
        <div class="mb-4 flex justify-between items-center w-[75%]">
          <label for="{{ field.id_for_label }}" class="primary-color font-bold text-left">
            {{ field.label }} :
          </label>
          <div>
            {{ field|add_class:"p-2 border border-blue-500 rounded" }}
            {% for error in field.errors %}
              <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
    <button class="btn mt-4" type="submit">Rechercher</button>
  </form>

  <!-- Loans Table in Array-like Shape -->
  <div class="overflow-x-auto">
    <table class="min-w-full border border-primary-color rounded-lg">
      <thead>
        <tr class="bg-gray-100">
          <th class="px-4 py-3 border border-primary-color">Client</th>
          <th class="px-4 py-3 border border-primary-color">Reason</th>
          <th class="px-4 py-3 border border-primary-color">Amount</th>
          <th class="px-4 py-3 border border-primary-color">Actions</th>  
        </tr>
      </thead>
      <tbody>
        {% for loan in loans %}
        <tr>
          <td class="px-4 py-3 border border-primary-color">
            {{ loan.user_id.company_name }}
          </td>
          <td class="px-4 py-3 border border-primary-color">
            {{ loan.reason}}
          </td>
          <td class="px-4 py-3 border border-primary-color">
            $.{{ loan.bank_loan }}
          </td>
          <td class="px-4 py-3 border border-primary-color">
            {% if loan.status == 2 %}
            <form method="post" action="{% url 'predict_loan' loan.id %}">
              {% csrf_token %}
              <input type="hidden" name="loan_id" value="{{ loan.id }}">
              <button type="submit" class="btn">Predict</button>
            </form>
            {% else %}
                <a class="btn" href="/loan_filling/{{ loan.id }}">Fill prediction info</a>
            {% endif %}
          </td>        
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
