{%for new in news%}
    <p>
        <tr>
            <td >{{ new.id }}</td>
            <td >{{ new.items }}</td>
            <td >{{ new.date_news }}</td>
            <td >{{ new.content }}</td>
            <td ><a href={{ new.news_url }}>{{ new.news_url }}</a></td>
            <td>{{new.user_id_id}}</td>
            {% if user.role == 1 or user.is_superuser %}
            <td>
                <a href="{% url 'delete_news' new.id %}" class="btn btn-danger">Supprimer</a>
            </td>
            <td>
                <a href="{% url 'news_update' new.id %}" class="btn btn-danger">Modifier</a>
            </td>
            {% endif %}
        <tr>
    </p>
{% endfor %}