{% extends 'base.html'%}

{% block content %}
<h1 class="text-4xl font-extrabold text-center primary-color mt-8 mb-6">
    Your Profile
</h1>


<div class="flex flex-wrap justify-center items-start gap-10 mt-10 mb-20">
    <div
        class="min-w-[300px] max-w-sm mt-20 p-4 shadow-md rounded-lg border-t-2 border-green-700">
        <div class="flex justify-between pb-4 border-b">
            <p class="font-bold text-xl primary-color">My profile</p>
        </div>
        <ul class="flex flex-col pl-1">
            <li class="border-b py-2 flex justify-between">
                <span class="font-bold primary-color">Company Name :</span>
                <span>{{ user.company_name }}</span>
            </li>
            <li class="border-b py-2 flex justify-between">
                <span class="font-bold primary-color">Email :</span>
                <span>{{ user.email }}</span>
            </li>
            <li class="border-b py-2 flex justify-between">
                <span class="font-bold primary-color">Phone Number :</span>
                <span>{{ user.phone_number }}</span>
            </li>
        </ul>
        <ul class="mt-5 mb-2 flex flex-col items-center gap-5">
            <li><a href="{% url 'account_update' pk=user.pk%}" class="btn">Update my profile</a></li>  
            <li><a href="{% url 'password_change' %}" class="btn">Change password</a></li>       
        </ul>            
    </div>
    <div
    class="min-w-[300px] max-w-sm mt-20 p-4 shadow-md rounded-lg border-t-2 border-green-700">
    <div class="flex justify-between pb-4 border-b">
        <p class="font-bold text-xl primary-color">My Company</p>
    </div>
    <ul class="flex flex-col pl-1">
        <li class="border-b py-2 flex justify-between">
            <span class="font-bold primary-color">State :</span>
            <span>{{ user.get_state_display }}</span>
        </li>
        <li class="border-b py-2 flex justify-between">
            <span class="font-bold primary-color">N° NAICS :</span>
            <span>{{ user.NAICS }}</span>
        </li>
        <li class="border-b py-2 flex justify-between">
            <span class="font-bold primary-color">Franchise :</span>
            {% if user.franchisecode == 0 %}
                <span>None</span>
            {% else %}
                <span>{{ user.franchisecode }}</span>
            {% endif %}
        </li>
        <li class="border-b py-2 flex justify-between">
            <span class="font-bold primary-color">Number of employees :</span>
            <span>{{ user.no_emp }}</span>
        </li>
        <li class="border-b py-2 flex justify-between">
            <span class="font-bold primary-color">Area Type :</span>
            <span>{{ user.get_urbanrural_display }}</span>
        </li>
    </ul>
    <ul class="mt-5 mb-2 flex flex-col items-center gap-5">
        <li><a href="{% url 'company_info_update' pk=user.pk%}" class="btn">Update my company's informations</a></li>
    </ul>  
</div>
    <div
    class="min-w-[300px] max-w-sm mt-20 p-4 shadow-md rounded-lg border-t-2 border-green-700">
    <div class="flex justify-between pb-4 border-b">
        <p class="font-bold text-xl primary-color">Actions</p>
    </div>
    <ul class="flex flex-col pl-1">    
            {% if user.role == 0 %}
            <li class="border-b py-2 flex justify-between">          
                <a href="{% url 'create_loan_request' %}" class="btn">Loan request</a>            
            </li>
            <li class="border-b py-2 flex justify-between">          
                <a href="" class="btn">My loan history</a>            
            </li>
            {% endif %}
            {% if user.role == 1 %}
            <li class="border-b py-2 flex justify-between">
                <a href="{% url 'select_loan_request' %}" class="btn">Loans management</a>
            </li>
            <li class="border-b py-2 flex justify-between">
                <a href="{% url 'clients_list' %}" class="btn">Clients management</a>
            </li>
            <li class="border-b py-2 flex justify-between">
                <a href="{% url 'create_news' %}" class="btn">Write an article</a>
            </li>
            <li class="border-b py-2 flex justify-between">
                <a href="{% url 'news_list' %}" class="btn">Article management</a>
            </li>
            {% endif %}
    </div>
</div>
{% endblock %}
