{% extends 'base.html'%}
{% load custom_filters %}
{% load static %}

{% block title%}Signup on Assuraimant{%endblock%}

{% block content%}

<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

<div class="bg-gray-100 flex h-screen items-center justify-center px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-8">
        <div class="bg-white shadow-md rounded-md p-6">

            <img src="{% static 'images/logo.png' %}" alt="Site Logo" class="w-32 mx-auto">

            <h2 class="my-3 text-center text-3xl font-bold tracking-tight text-gray-900">
                Sign up for an account
            </h2>

            <form class="grid grid-cols-2 gap-4" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="col-span-1">
                    <div class="flex items-center">
                        {% if field.help_text %}
                        <div x-data="{ open: false }" class="relative mr-2">
                            <span @mouseover="open = true" @mouseleave="open = false" class="cursor-pointer text-gray-400">
                                (❔)
                            </span>
                            <div x-show="open" x-transition.opacity class="absolute left-full ml-2 top-1/2 -translate-y-1/2 w-40 p-2 text-sm text-white bg-black rounded shadow-lg">
                                {{ field.help_text }}
                            </div>
                        </div>
                        {% endif %}
                        
                        <label for="{{ field.id_for_label }}" class="primary-color font-bold text-left">
                            {{ field.label }} :
                        </label>
                    </div>
                    <div class="mt-1">
                        {{ field|add_class:"p-2 border border-blue-500 rounded w-full" }}
                    </div>
                    <div class="mt-1">
                        {% for error in field.errors %}
                            <p class="text-red-500 text-sm">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            
                <div class="col-span-2">
                    <button type="submit"
                        class="flex w-full justify-center rounded-md border border-transparent btn_blue py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-opacity-75 focus:outline-none focus:ring-2 focus:ring-sky-400 focus:ring-offset-2">
                        Register Account
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
    
{%endblock%}

